# Byte-compiled / optimized / DLL files (naja)
__pycache__/
*.py[cod]
# local log files
*.log
*.csv
*.txt
*.history
# user specific files
settings_ini.py
ha_shared_config.py
poll_list.py
entities,json
test.py
allupdate.sh
.vscode/
old_test/
*venv/
